body{
font-family:arial, helvetica, sans-serif;
}
#container{
margin:0 auto;
width:100%;
}
#header{
background-color:#abacab;
padding:18px;
}
#meniu{
float:left;
width:100%;
background-color:#0c0c0c;
}
#meniu ul li{
list-style-type:none;
display:inline;
}
#meniu li a{
display:block;
text-decoration:none;
border-right:2px solid #FFFFFF;
padding: 3px 10px;
float:left;
color:#FFFFFF;
}
#meniu li a:hover{
background-color:#CCCCCC;
}
#mainContainer{
float:left;
width:100%;
}
#content{
clear:left;
float:left;
width:65%;
padding:20px 0;
margin: 0 0 0 5%;
display:inline;
}
#sidebar{
float:right;
width:30%;
margin:0;
padding:20px 0;
display:inline;
background-color:#CCCCCC;
}
#footer{
clear:left;
background-color:#CCCCCC;
text-align:center;
padding:10px;
padding-top:1px;
height:5%;
margin:32% 0 0 0;
}
